body{
  color: black;
  background-color: black;
  height: 600px;
  margin: auto;
}
#wrapper{
  background-color:white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 656px;
}
.box{
    margin: auto;
    border: dotted purple 2px;
    position: absolute;
    top: 10px;
    bottom:435px;
    left: 11%;
    right: 11%;
    padding-top: 175px;
    text-align: center;
    font-size: 10px;
}
.words{
  text-align: center;
  color: green;
  font-size: 7px;
  position:absolute;
  top: 230px;
  bottom: 300px;
  left:25%;
  right: 25%;
}
.moretext{
  color: orange;
  font-size: 25px;
  position:absolute;
  top: 270px;
  bottom: 250px;
  left: 11%;
  right: 25%;
}
.cantbelieve{
    color: purple;
    font-size: 6px;
    position: absolute;
    top: 300px;
    bottom: 250px;
    left: 84%;
    right: 0px;
}
.cant{
  color: yellow;
  text-transform: uppercase;
}
.redtext{
  color: red;
  font-size:25px;
}
